<div class="container-fluid mt-7">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Location</label>
        <select
          class="form-control"
          [(ngModel)]="sampleData"
          (ngModelChanges)="onFacilitySelect($event)"
          (change)="onChange($event)"
        >
          <option [ngValue]="ONT">ONT</option>
          <option [ngValue]="BOS">BOS</option>
        </select>
      </div>

      <hr />

      <dataviz-sankey [data]="sampleData" [rotate]="rotate"></dataviz-sankey>
    </div>
  </div>

  <hr class="my-7" />

  <div class="row">
    <div class="col">
      <dataviz-sankey
        [data]="facilityInboundData"
        [rotate]="rotate"
        [width]="500"
        [height]="900"
      ></dataviz-sankey>
    </div>
  </div>

  <hr class="my-7" />

  <div class="row">
    <div class="col">
      <dataviz-sankey [data]="facilityData" [rotate]="false"></dataviz-sankey>
    </div>
  </div>
</div>
